@import "colors";

header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  justify-content: space-between;
}

header, .spacer {
  height: 120px;
}

.current-user {
  margin-left: auto;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}