h1, h2, h3, h4, p, a {
  font-family: Hevetica, sans-serif;
}

.flex-container {
  display: flex;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.featured-image {
  width: 90%;
}

.logo {
  width: 200px;
}