@import "colors";
@import "font-awesome";
@import "header";
@import "footer";
@import "breakpoints";

h1, h2, h3, h4, p, a, label {
  font-family: Hevetica, sans-serif;
  color: $text-color;
}

.content {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(242, 242, 242);
}

main {
  padding: 20px;
}

.flex-container {
  display: flex;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.featured-image {
  width: 90%;
}

.logo {
  width: 200px;
}

form input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(150, 150, 150);
  transition: .7s;
  width: 30%;

  &:focus {
    outline: none;
    color: #000;
  }
}