// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

nav {
  margin-left: 300px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

// .container {
//   // display: flex;
//   // overflow-x: auto;
//   // margin-right: 15px;

// }

// .container::-webkit-scrollbar {
//   display: none;
// }

.contact-form{
  display: flex;
  justify-content: center;
  color: $text-color;
  .contact-name, .contact-email, .contact-message{
    align-items: left;
    width: 100%;
  }
  .contact-message{
    height: 70px;
  }
  &p {

  }
}

.about-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  .horizontal-scroll{
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items:center; 
    &img{
      margin: 30px;
    }
  }
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}