// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "breakpoints";
@import "colors";

@media(min-width: $med){
 
}

.profile {
  width: 100%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: $text-color;
  }
  a {
    text-align: center;
    color: $pale-text;
  }
  
  .col-2 a {
    text-align: justify;
    & p {
      text-align: center;
      color: $text-color;
    }
    & img {
      width: 300px;
    }
  }
  
  .plus-circle {
    width: 30px;
  }
  
  .image-and-name p {
    text-align: center;
  }
  
  // .plus {
  //   text-align: center;
  //   width: 100%;
  // }
  
  .bio {
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    &img {
      text-align: left;
    }
    &p {
      text-align: justify;
    }
  }
}

.all-listings-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  &img {
    text-align: left;
  }
  &p {
    text-align: justify;
  }
}
