<%= render "navbar" %>

<div class="about-page">
  <h2>From your hands to the closests</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim sodales ut eu sem integer vitae justo. Lacinia quis vel eros donec ac odio tempor orci dapibus. At imperdiet dui accumsan sit amet nulla facilisi. Tortor at risus viverra adipiscing at in. Eleifend donec pretium vulputate sapien nec. Et magnis dis parturient montes nascetur. Nibh tellus molestie nunc non blandit. Enim nec dui nunc mattis. Cras semper auctor neque vitae tempus quam pellentesque. Vitae tempus quam pellentesque nec nam aliquam. Turpis in eu mi bibendum. Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Felis donec et odio pellentesque diam volutpat. Arcu odio ut sem nulla pharetra diam sit. Turpis egestas integer eget aliquet nibh.

</p>
</div>
