<div class="dashboard flex-container">
  <div class="categories section">
    <%= render "dash_side", categories: @categories %>
  </div>
  <div class="recent-listings">
    <div class="panel section">
      <%= render "shared/listings", header: "Recent Posts", listings: @listings %>
    </div>
  </div>
  <div class="col map">
    <div class="sticky-map">
      <div class="container">
        <%# <%= render "shared/map" %> 
      </div>
    </div>
  </div>
</div>