<div class="dashboard flex-container">
  <div class="categories section">
    <%= render "dash_side", categories: @categories %>
  </div>
  <div class="recent-listings">
    <div class="panel section">
      <%= render "shared/listings", header: "Recent Posts", listings: @listings %>
    </div>
  </div>
  <div class="col">
  </div>
</div>