<%# <%= render "sign_up" %>
<nav class="row end-xs">
    <ul class="row center-xs middle-xs">
      <li class="col-md">
        <%= link_to "home", root_path %>
      </li>
      <li class="col-md">
        <%= link_to "about", about_path%>
      </li>
      <li class="col-md">
        <%= link_to "contact", contact_path %>
      </li>
    </ul>
</nav>