<%# <%= render "sign_up" %>

<%= render "navbar" %>

<h2 class="home">Welcome to Barrio</h2>
<h3 class="home">Your portal to your local neighbourhood</h3>
<div class="hero-container">
  <%= image_tag "community.jpg", class: "hero" %>
</div>
  