<h1>Listings</h1>

<% @listings.each do |listing| %>
  <div class="card">
    <%= link_to listing_path(listing.id) do %>
      <%= image_tag(listing.image.url, class: "listing-image") %>
      <p>
        <%= listing.title %>
      </p>
    <% end %>
  </div>
<% end %>
