<h2>My Purchase History</h2>

<ul>
  <% @purchases.each do |purchase| %>
    <ul>
      <li><%= sanitize purchase.listing.title %></li>
      <li><%= purchase.created_at %></li>
      <li>$<%= number_with_precision(purchase.total_amount / 100.0, precision: 2)%></li>
    </ul>
  <% end %>
</ul>