<h2>My Purchase History</h2>

<ul>
  <% @purchases.each do |purchase| %>
    <ul>
      <li><%= purchase.listing.title %></li>
      <li><%= purchase.created_at %></li>
      <li><%= purchase.total_amount %></li>
    </ul>
  <% end %>
</ul>